<section>
    <div class="flex flex-col justify-center p-3 items-center h-screen">
         <h1 class="proxima font-bold text-3xl italic">BudgetFriend</h1>
         <p class="proxima font-light">"Navigating Savings with Ease!"</p>
        </div>
       <div class ="flex flex-col w-full gap-2 absolute bottom-0 mb-1 text-white">
             <%= link_to 'LOG IN', new_user_session_path, class: 'block text-blue-400 hover:bg-blue-header rounded-md  text-center p-3 w-4/5 mx-auto hover:text-white' %>
             <%= link_to 'SIGN UP', new_user_registration_path, class: 'block text-blue-400 hover:bg-blue-header  rounded-md text-center p-3 w-4/5 mx-auto hover:text-white' %>
        </div>
  
 </section>